name: %(ENVNAME)s
channels:
    - conda-forge
    - salilab

dependencies:

# basics
    - python=3
    - numpy
    - scipy
    - matplotlib
    - tqdm
    - biopython
    - joblib
    - pandas
    - xlrd

# IMP specific
    - cmake
    - cgal
    - boost
    - fftw
    - eigen
    - gsl
    - hdf5
    - opencv-nopython
    - swig
    - libtau
    - protobuf
    - log4cxx
    - gperftools
    - openmp
    - openmpi
    - ann
    - pyrmsd