name: %(ENVNAME)s
channels:
    - conda-forge
    - salilab

dependencies:

# basics
    - python=3
    - numpy
    - scipy
    - matplotlib
    - biopython
    - pandas
    - xlrd

# IMP specific
    - mpich
    - openmp
    - imp
    - pyrmsd
